body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
li {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
ul {
  list-style: none;
}
h1 {
  font-weight: 400;
}
.version-num {
  color: #48d2e4;
}
.minus-icon {
  size: 1rem;
}
